<% meta :title, "Mi Título" %>
<% meta :navigation, "/$" %>
<% meta :keywords, "vaca, foo, mundo" %>


<h1>Hello, world!</h1>

<div class="row">
  <div class="span4">
    <ul>
      <li>foo</li>
      <li>bar</li>
    </ul>
  </div>
  <div class="span8"><p><%= @nombre %></p></div>
</div>
