<!DOCTYPE html>
<html>
  <head>
    <title><%= "#{meta(:title)} · " if meta(:title) %>VACA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="<%= meta(:keywords) %>"/>

    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/stylesheets/application.css" rel="stylesheet" />
  </head>
  <body class="<%= @env["PATH_INFO"].to_s.gsub(/[^a-z0-9_\-]/, "") %>">

    <div class="container">
      <ul class="nav nav-pills">
        <%= render_menu_item "Home", "/" %>
        <%= render_menu_item "Items", "/items" %>
      </ul>

      <%= yield %>

      <script src="http://code.jquery.com/jquery.js"></script>
      <script src="/bootstrap/js/bootstrap.min.js"></script>
    </div>
  </body>
</html>
